{% extends "layout.html" %} {% block title %} Lets Tweet ! {% endblock %}
{%block content %}
<div class="container m-4">
  <a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}"
    >Create a Tweet</a
  >

  <div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem">
      <img src="{{tweet.photo.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{tweet.user.username}}</h5>
        <p class="card-text">{{tweet.text}}</p>
        {% if tweet.user == user %}

        <a class="btn btn-primary" href="{% url 'tweet_edit' tweet.id %}"
          >Edit</a
        >
        <a class="btn btn-danger" href="{% url 'tweet_delete' tweet.id %}"
          >Delete</a
        >

        {% endif %} {% comment %} we can access the object `user`anywhere in
        django template because its part of the request {% endcomment %}
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
